span.a {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    color: white;
    border: 1px solid blue;
    background-color: blue;
  }
  span.b {
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid white;
    background-color: palevioletred;
  }
  