.parent {
    position: static;
    left: 10px;
    bottom: 10px;
    background-color: aquamarine;
    padding: 10px;
  }
  .child {
    padding: 10px;
    background-color: cadetblue;
  }
  .parent1 {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: palevioletred;
    padding: 10px;
  }
  .child1 {
    padding: 10px;
    background-color: green;
  }
  .parent2 {
    position: relative;
    left: 10px;
    bottom: 10px;
    background-color: blueviolet;
    padding: 20px;
  }
  .square {
    padding: 10px;
    width: 100px;
    position: absolute;
    height: 100px;
    background-color: yellowgreen;
  }
  